doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='socket.io/socket.io.js')
  script(src='https://cdn.tailwindcss.com')
  title Emitir el video a visualizar
h1(class="text-6xl") Emitir en directo
button#btn(class="border border-dashed border-gray-700 py-5 rounded-lg hover:bg-gray-700 hover:text-white duration-300 font-bold w-full my-10") Emitir
video#video(src='' class="bg-black" autoplay='' style='width: 800px; height: 600px;')
canvas#preview
.status
script.
  var canvas = document.querySelector('#preview');
  var context = canvas.getContext('2d');
  var btn = document.querySelector('#btn');
  canvas.width = 512;
  canvas.height = 384;
  context.width = canvas.width;
  context.height = canvas.height;
  var video = document.querySelector('#video');
  var socket = io();
  function publicarMensaje(msg){
  document.querySelector('.status').innerText = msg;
  }
  function loadCamara(stream){
  video.srcObject = stream;
  publicarMensaje('camara funcionando');
  }
  function errorCamara(){
  publicarMensaje('camara ha fallado');
  }
  function verVideo(video,context){
  context.drawImage(video,0,0, context.width, context.height);
  socket.emit('stream',canvas.toDataURL('image/webp'));
  }
  btn.addEventListener('click',()=>{
  navigator.getUserMedia = (navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msgGetUserMedia)
  if(navigator.getUserMedia){
  navigator.getUserMedia({video:true},loadCamara,errorCamara)
  }
  var intervalo = setInterval(() => {
  verVideo(video,context);
  }, 100);
  })
